%div
  Hi Sale,
%br
  Có một contact từ website:
%div
  Họ và tên: 
  =@info["name"]
  %br
  Email:
  =@info["email"] 
  %br
  Phone: 
  = @info["phone"]
  %br
  Company: 
  =@info["company"]
  %br
  Nội dung: 
  =@info["content"]
  %br
  %br
  %br
%div
  Cảm ơn,
  Web admin