%div
  Hi Sale,
%br
  Có một đơn đặt hàng từ website:
%div
  Họ và tên: 
  =@info.name
  %br
  Email:
  =@info.email 
  %br
  Phone: 
  = @info.phone
  %br
  Company: 
  =@info.company
  %br
  Ghi chú: 
  =@info.note
  %br
  Mẫu hàng đặt:
  =@info.calendar.name
  %br
  %br
%div
  Cảm ơn,
  Web admin





