=#javascript_include_tag ""
= stylesheet_link_tag "flexslider"
= stylesheet_link_tag "demo"
%div
  .flexslider{:id =>"slider"}
    %ul.slides
      -calendar.photos.each do |i|
        %li
          %img{:src => "#{i.image.url(:original)}"}/
  .flexslider{:id =>"carousel"}
    %ul.slides
      -calendar.photos.each do |i|
        %li
          %img{:src => "#{i.image.url(:original)}"}/
:javascript
  $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){

      $('#carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        itemWidth: 210,
        itemMargin: 5,
        asNavFor: '#slider'
      });

      $('#slider').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: true,
        slideshow: true,
        sync: "#carousel",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });

    });