%h1.color-black{:style=>"color:black"}
  LỜI GIỚI THIỆU
%p.color-black
  Vào những dịp cuối năm thì món quà mà hầu hết các doanh ghiệp thường biếu tặng khách hàng của mình chính là những bộ lịch Tết. Điều này vừa thể hiện nét đẹp văn hóa riêng của dân tộc vừa tạo cảm giác gần gũi, ý nghĩa, thắt chặt tình cảm giữa doanh nghiệp với khách hàng. Lịch Tết vừa là giải pháp quảng cáo tốt đồng thời tạo ấn tượng đẹp trong lòng khách hàng của mình.
%p.color-black
  Với mong mõi cung cấp thật tốt cho thị trường Lịch 2015 tại Đà Nẵng, công ty LICH là Trung tâm in ấn và phát hành lịch lớn nhất tại miền Trung, là đơn vị Chuyên THIẾT KẾ  và IN ẤN LỊCH cho các Công ty, Cơ quan, Cơ sở kinh doanh, Cá nhân, Trường học, Bệnh viện, Siêu thị… hàng đầu tại Đà Nẵng. Công ty LICH cam kết đưa ra giá cực tốt cho Quý khách hàng đồng hành với Chất lượng tuyệt đối. Chúng tôi chuyên nhận in lịch tết 2015, in lịch để bàn 2015,  in lịch độc quyền2015, in lịch 1 tờ, in Lịch 5 tờ, in Lịch 7 tờ, in Lịch 12 tờ, in Lịch Bloc, in Lịch treo tường, in Lịch lò xo giữa, in Lịch nẹp thiếc... 
%p.color-black
  %div.content-image 
    =image_tag "/assets/template/Lichban/lich-deban-phongthuy.jpg"
  %div.note-image{:style=>"text-align:center; font-size:10px;"}
    Hình 1: Lịch để bàn phong thủy 



%p.color-black
  Ngoài ra, chúng tôi còn chuyên thiết kế và in ấn các Ấn phẩm độc đáo như : 

  Thiết kế tạo mẫu và in ấn quảng cáo 

  In offset, in lụa : mẫu poster, mẫu catalogue, bìa sơ mi, tờ rơi, tờ gấp, bao thư, danh thiếp, chứng từ… 
%p.color-black
  %div.content-image-height
    =image_tag "/assets/template/LichBiaGangLich/HN-16.jpg"
  %div.note-image{:style=>"text-align:center; font-size:10px;"}
    Hình 2: Lịch Bìa 

%p.color-black
  In ấn thiết kế lịch 2015 

  In ấn trên mọi chất liệu : nhãn satin, tem vải, mã vạch… 

  Đặc biệt in ấn: Decal nhũ mờ, Decal nhựa, Decal niêm phong, Decal xi bóng, Decal ngũ sắc dạng cuộn, dạng mờ… 

  Cán màng các loại phôi, bế, dán,ép nhũ.
%p.color-black
  %div.content-image-height
    =image_tag "/assets/template/LichTuong/lich_tuong_02.jpg"
  %div.note-image{:style=>"text-align:center; font-size:10px;"}
    Hình 3: Lịch Tường

%p.color-black
  Với phương châm “Chất lượng đi trước”, công ty LICH luôn cố gắng làm hài lòng khách hàng bằng chất lượng tốt nhất và giá cả cạnh tranh, có lực lượng chăm sóc khách hàng hùng hậu, gọi đâu có đó.
  Năm mới 2015 sắp đến, tập thể công ty LICH kính chúc Quý khách hàng nhiều may mắn, sức khỏe và bình an. 

  Bảng giá chung tham khảo tại đây. 

  Mọi chi tiết xin liên hệ: 

  Số hotline : 

  Website : www.WEB.com 

  HÃY LIÊN HỆ NHANH VỚI CHÚNG TÔI ĐỂ ĐƯỢC MỨC CHIẾT KHẤU HẤP DẪN.