.custom-widget
  .widget-content
    .widget-image
      %img{:src=>"assets/img_lich/lich_bloc.jpg"}
    .widget-text
      .elip-text
        Vào những dịp cuối năm thì món quà...
      .elip-text
        Kich thuoc: 120 x 120
      .elip-text
        Giay: Carton
      .more_info
        %a{:href => "#{calendar_path(1)}"} Chi tiet >>