%div{:style=>"height:5px"}
.art-layout-cell.art-content
  %article.art-post.art-article
    / %h2.art-postheader Lich De ban
    .art-postcontent.art-postcontent-0.clearfix{:style=>"background-color: white;border-radius: 12px;padding: 21px;"}
      .art-content-layout.layout-item-0
        .art-content-layout-row
          .art-layout-cell.layout-item-1{:style => "width: 100%"}
            .left_content{:style=>"display:none"}
              .small-menu
                .header-text
                  =t(".danh_muc")
                .normal-menu  
                  / - @categories.each do |i|
                  /   .menu-txt
                  /     %a{:href =>"#"}
                  /       =i.name
            .right_content{:style=>"width:100%"}
              %h1{:style =>"color: black"}
                = @categories.name
              %hr{:size => 1,:style =>"color: lightgray;margin: 1px 0px"}
              -if params[:tag_type].blank?  
                .row
                  -@list_calendars.each do |i|
                    .col.col-lg-3
                      =render :partial =>"shared/widget",:locals =>{:calendar => i}
                .row
                  =will_paginate(@list_calendars)
              -else
                - tag_type = params[:tag_type].to_i == 1 ? true : false
                -categories = Category.all
                - categories.each do |i|
                  - list_calendars = i.calendars.where(:is_catalog => true) if tag_type == true
                  - list_calendars = i.calendars.where(:is_owned => true) if tag_type == false
                  -if !list_calendars.blank?
                    .head-group
                      =i.name
                    .row
                      -list_calendars.each do |j|
                        .col.col-lg-3
                          =render :partial =>"shared/widget",:locals =>{:calendar => j}
            .clear-fix              