%div{:style=>"height:5px"}
.art-layout-cell.art-content
  %article.art-post.art-article
    / %h2.art-postheader Lich De ban
    .art-postcontent.art-postcontent-0.clearfix{:style=>"background-color: white;border-radius: 12px;padding: 21px;"}
      .art-content-layout.layout-item-0
        .art-content-layout-row
          .art-layout-cell.layout-item-1{:style => "width: 100%;color: black"}
            %h1{:style =>"color: blue"}
              Đặt hàng sản phẩm 
            %hr{:size => 1,:style =>"color: lightgray;margin: 1px 0px"}
            %div{:style=>"margin-top:5px;color:black"}
              Đơn hàng của bạn đã được đặt thành công. Chúng tôi sẽ liên lạc với bạn trong thời gian sớm nhất. Cám ơn bạn đã lựa chọn và sử dụng sản phẩm của chúng tôi.