%div{:style=>"height:5px"}
.art-layout-cell.art-content
  %article.art-post.art-article
    / %h2.art-postheader Lich De ban
    .art-postcontent.art-postcontent-0.clearfix{:style=>"background-color: white;border-radius: 12px;padding: 21px;"}
      .art-content-layout.layout-item-0
        .art-content-layout-row
          .art-layout-cell.layout-item-1{:style => "width: 100%"}
            %h1{:style =>"color: black"}
              Thông tin sản phẩm
            %hr{:size => 1,:style =>"color: lightgray;margin: 1px 0px"}
            .content-show
              .left-side.slide_thuy
                =render :partial =>"shared/detail_slider2",:locals =>{:calendar => @calendar}
              .right-side{:style =>"width: 28%"}
                .small-menu
                  .header-text
                    Thông số sản phẩm
                  .normal-menu{:style=>"color:black"}
                    %div
                      .bold-txt Kích thước:
                      =@calendar.size
                    %div
                      .bold-txt Loại Giấy: 
                      =@calendar.paper_type
                    %div
                      .bold-txt Bao bì:  
                      =@calendar.box_type
                    .clear-row-hr
                    %div
                      .bold-txt Mô tả:  
                      %div
                        =raw @calendar.description
                    %div{:style =>"margin-top: 5px"}
                      %a.art-button{:href=>"#{new_order_path(:calendar_id => @calendar.id)}"}
                        Đặt Hàng
                    %div{:style=>"height:10px"}

