var g_category_path = "/advertisings";
var g_displayLength = 10;
var Advertising = {
  getdata: function(){
    var table = $("#ads_list").dataTable({
      sDom: '<"#tbhead"<"row"<"col col-lg-6 col-offset-6"f>>>rt<"#tbfoot"<"row"<"col col-lg-6"l><"col col-lg-6"p>>>',
        "bFilter": false,
        "bLengthChange": true,
        "bInfo": false,
        "bProcessing": true,
        "bServerSide": true,
        "sPaginationType": "full_numbers",
        "bJQueryUI": false,
        "bPaginate": true,
        "oLanguage": {
          "sEmptyTable": I18n.t('datatable.no_record'),
          "sZeroRecords": I18n.t('datatable.no_record'),
          "sSearch": I18n.t('datatable.search'),
        },
        "iDisplayLength": g_displayLength,
        "aaSorting": [[ 0, "asc" ]],
        "aoColumns": [
          { "sTitle": "Link",
            "sClass": "left",
            'bSortable': true,
            "sWidth": "20%",
            "mData": "link",
            "sClass": "left-round"
          },
          // { "sTitle": "Kích thước",
          //   "sClass": "left",
          //   'bSortable': true,
          //   "sWidth": "30%",
          //   "mData": "size"
            
          // },
          // { "sTitle": "Mô tả",
          //   "sClass": "left",
          //   'bSortable': true,
          //   "sWidth": "20%",
          //   "mData": "description"
          // },
          { "sTitle": "Hình ảnh",
            "sClass": "right",
            'bSortable': true,
            "sWidth": "10%",
            "mData": "image_url",
            "sClass": "right-round last-column",
            "mRender": Advertising.render_img,
          },
          { "sTitle": "",
            "sClass": "right",
            'bSortable': true,
            "sWidth": "20%",
            "mData": "id",
            "mRender": Advertising.render_action,
            "sClass": "right-round last-column"
          }
          ],
          "sAjaxSource": g_category_path
          // "fnServerParams": function ( aoData ) {
          //   aoData.push( { "name": "category_id", "value": $(this).attr('id').split("_")[1]});
          // },
          // "fnDrawCallback": function(oSettings) {
          //   $('tbody tr').addClass("mb-table-row")
          // },
          // "fnInitComplete": function () {
          //   $("#" + $(this)[0].getAttribute("id") + " tbody tr").addClass("mb-table-row")
            
          // },
      });
  },
  render_action: function(obj){
    btn_view = '<a class="action-link" href="/advertisings/' + obj +'/edit" class="action-link">Chỉnh sửa </a>';
    btn_delete = ' <a class="action-link" onclick="Advertising.delete_ad('+ obj +')">' + 'Xóa' +'</a>';
    return btn_view + btn_delete;
  },
  render_img: function(obj){
    btn_view = '<img src="' + obj +'" alt="Quảng cáo" />';
    return btn_view;
  },
  delete_ad: function(id){
  var message = "Bạn có chắc muốn xóa ";
  var confirm = Advertising.showConfirm(message, "");
  if(confirm){
    $.ajax({
      url:  "/advertisings/" + id,
      type: 'DELETE',
      data: {
        id: id,
        authenticity_token: g_token
      }

    }).done(function(){
      //
      $("#ads_list").dataTable().fnReloadAjax();
    });
  }

},

showConfirm: function(message,obj){
  if(confirm(message + obj + "?", "Đồng Ý")){
    return true;
  }
  return false;
}

}
$(document).ready(function(){
  Advertising.getdata();
});