var g_category_path = "/calendars/admin";
var g_displayLength = 10;
var Calendar = {
  getdata: function(){
    var table = $("#calendars_list").dataTable({
      sDom: '<"#tbhead"<"row"<"col col-lg-6 col-offset-6"f>>>rt<"#tbfoot"<"row"<"col col-lg-6"l><"col col-lg-6"p>>>',
        "bFilter": false,
        "bLengthChange": true,
        "bInfo": false,
        "bProcessing": true,
        "bServerSide": true,
        "sPaginationType": "full_numbers",
        "bJQueryUI": false,
        "bPaginate": true,
        "oLanguage": {
          "sEmptyTable": I18n.t('datatable.no_record'),
          "sZeroRecords": I18n.t('datatable.no_record'),
          "sSearch": I18n.t('datatable.search'),
        },
        "iDisplayLength": 5,
        "aaSorting": [[ 0, "asc" ]],
        "aoColumns": [
          { "sTitle": "Tên lịch",
            "sClass": "left",
            'bSortable': true,
            "sWidth": "20%",
            "mData": "name",
            "sClass": "left-round"
          },
          { "sTitle": "Kích thước",
            "sClass": "left",
            'bSortable': true,
            "sWidth": "30%",
            "mData": "size"
            
          },
          { "sTitle": "Loại lịch",
            "sClass": "left",
            'bSortable': true,
            "sWidth": "20%",
            "mData": "description"
          },
          { "sTitle": "Mô tả",
            "sClass": "right",
            'bSortable': true,
            "sWidth": "10%",
            "mData": "category_name",
            "sClass": "right-round last-column"
          },
          { "sTitle": "",
            "sClass": "right",
            'bSortable': true,
            "sWidth": "20%",
            "mData": "id",
            "mRender": Calendar.render_action,
            "sClass": "right-round last-column"
          }
          ],
          "sAjaxSource": g_category_path
          // "fnServerParams": function ( aoData ) {
          //   aoData.push( { "name": "category_id", "value": $(this).attr('id').split("_")[1]});
          // },
          // "fnDrawCallback": function(oSettings) {
          //   $('tbody tr').addClass("mb-table-row")
          // },
          // "fnInitComplete": function () {
          //   $("#" + $(this)[0].getAttribute("id") + " tbody tr").addClass("mb-table-row")
            
          // },
      });
  },
  render_action: function(obj){
    btn_view = '<a class="action-link" href="/calendars/' + obj +'/edit" class="action-link">Chỉnh sửa </a>';
    btn_delete = ' <a class="action-link" onclick="Calendar.delete_calendar('+ obj +')">' + 'Xóa' +'</a>';
    return btn_view + btn_delete;
  },
  delete_calendar: function(id){
  var message = "Bạn có chắc muốn xóa ";
  var confirm = Calendar.showConfirm(message, "");
  if(confirm){
    $.ajax({
      url:  "/calendars/" + id,
      type: 'DELETE',
      data: {
        id: id,
        authenticity_token: g_token
      }

    }).done(function(){
      //
      $("#calendars_list").dataTable().fnReloadAjax();
    });
  }

},

showConfirm: function(message,obj){
  if(confirm(message + obj + "?", "Đồng Ý")){
    return true;
  }
  return false;
}

}
$(document).ready(function(){
  Calendar.getdata();
});