/*datatable*/
.dataTables_wrapper{position: relative;}
.dataTables_processing{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
  z-index: 1;
}
.dataTables_wrapper .table{
  border: 1px solid #e0e4e8;
  border-width: 1px 0;
}
.dataTables_wrapper label{font-weight: normal;font-size: 12px;display: block;margin-bottom: 0}
.dataTables_wrapper select, .dataTables_wrapper input{font-size:12px;min-height: 30px;padding: 5px 10px;border-radius: 3px;display: inline;}
.dataTables_wrapper select{width: 75px;}
.dataTables_wrapper input{width: 200px;}
.dataTables_filter, .dataTables_paginate{float:right;}
.dataTables_length, .dataTables_filter{padding: 1px;}
.dataTables_info, .dataTables_paginate{padding: 1px;}
.dataTables_wrapper .paginate_button, .dataTables_wrapper .paginate_active{cursor:pointer;outline:0;border:1px solid #dddddd;border-right-width:0;background: #fff;padding: 6px 10px}
.dataTables_wrapper .paginate_active{background-color: #f5f5f5}
.dataTables_wrapper .paginate_button_disabled{color: #ccc;background-color: #fafafa}
.paginate_button.first{border-radius: 3px 0 0 3px;}
.paginate_button.last{border-radius: 0 3px 3px 0;border-right-width:1px;}
.dataTables_wrapper th{position: relative;cursor: pointer;outline: 0}
.dataTables_wrapper th:after{font-family: FontAwesome; color: black;position: absolute;right: 10px;font-weight: normal;}
.dataTables_wrapper .sorting:after{color: black;}
.dataTables_wrapper .sorting_asc:after{}
.dataTables_wrapper .sorting_desc:after{content: "\f0dd";}
.panel .table td, .panel .table th{padding:6px 15px;border-top: 1px solid #63C1D8;border-right: 1px solid #63C1D8;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;}
.panel .table-striped > tbody > tr:nth-child(odd) > td, .panel .table-striped > tbody > tr:nth-child(odd) > th {background-color: #fcfdfe;}
.panel .table-striped > thead > tr > th{
  /*background-color: #fafbfc;*/
  border-right: 1px solid #63C1D8;
  border-bottom:1px solid #63C1D8;
  border-left: 1px solid #63C1D8;
  background-color: #3BB5DA;
  color: white;
}
.panel .table-striped > thead > tr > th:last-child{border-right: none}
.panel-large{min-width: 300px;}
.th-sortable{cursor: pointer;}
.th-sortable .th-sort{float: right;position: relative;}
.th-sort i{position:relative;z-index: 1}
.th-sort .icon-sort{position: absolute;left: 0;top: 3px;color: #bac3cc;z-index: 0}