=form_for @category do |f|
  - if @category.errors.any?
    .alert.alert-error
      %div.head-error Error creating your new Category. Please correct the following errors
      %div.content-error
        %ul{:style => "list-style:none; padding:10px 10px 10px 10px;"}
          - for message in @category.errors.full_messages
            %li.li-error= message
  .row
    .col.col-lg-4
      Tên Loại:
    .col.col-lg-8
      =f.text_field :name
  .row
    .col.col-lg-4
      Ghi chú:
    .col.col-lg-8
      =f.text_area :description,:rows =>3
  .row
    .col.col-lg-4
      Hiển thị trên menu:
    .col.col-lg-8
      =f.check_box :is_show_menu
  .row
    .col.col-lg-4
      Thứ tự:
    .col.col-lg-8
      =f.text_field :order_no
  .row
    .col.col-lg-4 &nbsp;
    .col.col-lg-8
      =f.submit "Lưu",:class=>"art-button"